<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>
    <a class="contact" href="https://www.facebook.com/vivek.gaming.9081" target="_blank"><i class="social-icon fa-5x fa-brands fa-facebook "></i></a>
    <a class="contact" href="https://twitter.com/vivek_yadav2003?t=pr1P1rlmooi87kYupUPzLw&s=09" target="_blank"><i class="social-icon fa-5x fa-brands fa-twitter"></i></a>
    <a class="contact" href="https://www.instagram.com/vyvivek_yadav/" target="_blank"><i class="social-icon fa-brands fa-5x fa-instagram"></i></a>
    <a class="contact" href="mailto:vyvivek2019@email.com" target="_blank"><i class="social-icon  fa-solid fa-5x fa-envelope"></i></a>
<%- include("partials/footer"); -%>
